h1 {
  font-size: 50pt;
}
h1 {
  text-align: center;
}
h1 {
  color: #ff7777;
}
h2 {
  text-align: center;
}
h2 {
  color: #ff7777;
}
h2 {
  font-size: 15pt;
}
h3 {
  color: #ffffff;
}
h4 {
  color: #f8854e;
}
h5 {
  font-size: 25pt;
}
h5 {
  color: #f8854e;
}
ul {
  color: #f8854e;
}
ul {
  text-align: center;
}
ul {
  font-size: 16pt;
}
p1 {
  color: #f8854e;
}
P1 {
  font-size: 16pt;
}
p2 {
  color: #ffffff;
}
p2 {
  font-size: 14pt;
}
p2 {
  padding: 200pt;
}
p3 {
  color: rebeccapurple;
}
p3 {
  font-size: 15pt;
}
p3 {
  padding: 300pt;
}
p4 {
  font-size: 12pt;
}
p4 {
  color: #ffffff;
}
